<mat-toolbar color="primary">
  <div class="title">
    <img src="../../../../assets/icons/deezer.webp" alt="zzzz">
    <span>Deezer</span></div>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/']">Users</button>
</mat-toolbar>
