#deezer-app {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 100%;
}

#main {
  flex: 1; /* Allows the main section to grow and shrink as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  padding-bottom: 64px; /* Keeps the bottom padding */
}
