<div id="deezer-app">
<div id="header">
  <deezer-header></deezer-header>
</div>
<div id="main">
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <deezer-footer></deezer-footer>
</div>
</div>
