<div id="grid">
  @if (deezerService.isLoading()) {
  <div class="nt-sp">
    <mat-progress-spinner mode="indeterminate" value="50"></mat-progress-spinner>
  </div>
  } @else if (dataSource?.data?.length) {
  <div class="playlists-grid">
    <mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="16">
      @for (playlist of playlists| async; track $index) {
      <mat-grid-tile [routerLink]="['/playlist', playlist.id]">
        <img [src]="playlist.picture_medium" alt="{{ playlist.title }}" />
        <mat-grid-tile-header>
          <div class="playlist-title">{{ playlist.title }}</div>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <div class="playlist-details">
            <p class="author">{{ playlist.creator?.name }}</p>
            <p class="duration">{{ playlist.duration | secondsToTime }}</p>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  <mat-paginator [length]="dataSource?.data?.length" [pageSizeOptions]="[6]" aria-label="Select page"></mat-paginator>
  } @else{
  <div class="nt-sp">
    <mat-icon>info</mat-icon>
    <p>Nothing to show</p>
  </div>
  }
</div>
