$purple: #49008e ;

#grid {
  position: relative;
  min-height: 200px;
}

.playlists-grid {
  margin: 16px;
}

mat-grid-list {
  width: 100%;
}

mat-grid-tile {
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 15px;
}

mat-grid-tile:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

mat-grid-tile-header {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  border-radius: 8px !important;
  background: $purple !important;
  color: whitesmoke !important;
}

.playlist-title {
  color: white;
  padding: 8px;
  font-weight: bold;
}

.mat-grid-tile-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playlist-details {
  color: white;
}

.author, .duration {
  margin: 0;
}

mat-paginator {
  margin-bottom: 30px;
  background-color: $purple;
}

