<mat-toolbar color="primary" class="footer">
  <span>© 2024 Deezer</span>
  <span class="spacer"></span>
  <a mat-button href="https://www.linkedin.com/in/bilel-oueslati-23b501132/" target="_blank">Bilel Ouesleti</a>
</mat-toolbar>
