/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #000000;
  --mat-toolbar-container-text-color: white;
}

.nt-sp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.nt-sp mat-icon {
  margin-bottom: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
