#details-deezer {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tracks-list {
  margin: 16px;
  border: 1px solid black;
  background-color: black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  overflow-y: auto;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.mat-list-item:last-child {
  border-bottom: none;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #72a4e8 !important;
  --mat-toolbar-container-text-color: white;
}

.navigation-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.example-viewport {
  height: 300px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.playlist-details {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
  font-weight: 700;
}
