<div id="details-deezer" [ngStyle]="{ 'background-image': 'url(' + (playlist?.picture_xl ) + ')' }">
  @if (deezerService.isLoading()) {
  <div class="nt-sp">
    <mat-progress-spinner mode="indeterminate" value="50"></mat-progress-spinner>
  </div>
  } @else {
  <div class="playlist-details">
    <h1 matTooltip="{playlist?.title}">{{ playlist?.title??'---' }}</h1>
    <h2>{{ playlist?.creator?.name??'---' }}</h2>
    <h3>{{ playlist?.duration?(playlist.duration | secondsToTime):'---' }}</h3>
  </div>

  <div class="tracks-list">
    <mat-list>
      <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
        <mat-list-item *cdkVirtualFor="let track of tracks">
          <mat-icon matListItemIcon>library_music</mat-icon>
          <h4 matListItemTitle>{{ track.title }}</h4>
          <p matListItemLine>{{ track.artist.name }}</p>
          <span matListItemLine>{{ track.duration | secondsToTime }}</span>
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>
  }
</div>
